.DS_Store
.eclipse.buildship.core.prefs
.gradle/
.idea/
.kubernetes-manifests-*/
.project
.skaffold-*.yaml
infra/.terraform/*
infra/.terraform.lock.hcl
.terraform.lock.hcl
.terraform/*
*.tfplan
tfplan
kubeconfig
kubeconfig.*
*.tfplan
tfplan
kubeconfig
kubeconfig.*
.venv/
.vs/
.vscode/
*.iml
*.ipr
*.iws
*.pyc
*.swp
*.tfstate*
*.tfvars
*~
bin/
build/
Dockerfile.pip
node_modules/
obj/
pkg/
release/wi-kubernetes-manifests.yaml
vendor/
gha-creds-*.json
